<!DOCTYPE html>
<html>
<head>
    <title>Stocks</title>
    <link href="/static/bootstrap.min.css" rel="stylesheet">
    <link href="/static/stockPull.css" rel="stylesheet">
    <meta http-equiv="refresh" content="2">
</head>
<body>
<div id="main-content">

    <h1>Stock Market</h1>
    <table class="table">

        <thead>
        <tr>
            <th>#</th>
            <th>Company</th>
            <th>Price share</th>

        </tr>
        </thead>

        <tbody>
        <tr>
            <th>1</th>
            <td>Google</td>
            <td>{{p_google}}</td>
        </tr>

        <tr>
            <th>2</th>
            <td>hotmail</td>
            <td>{{p_hotmail}}</td>
        </tr>

        <tr>
            <th>3</th>
            <td>yahoo</td>
            <td>{{p_yahoo}}</td>
        </tr>

        <tr>
            <th>4</th>
            <td>netflix</td>
            <td>{{p_netflix}}</td>
        </tr>
        </tbody>

    </table>
</div>
</body>
</html>